@import "../varibles.scss";

.intro {
    background-color: #FBFBFD;
}

.intro .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;


    @media only screen and (min-width: $breakpoint-tablet) {
        flex-direction: row;
        justify-content: space-between;

    }
    
}

.intro {
    &__content {
        margin-top: 5rem;

        @media only screen and (min-width: $breakpoint-tablet) {
            padding-right: 4rem; 
         }
     
    }

    &__btn {
        font-family: $sans-serif;
        text-transform: uppercase;
        display: inline-block;
        padding: 1.5rem;
        color: $dark-color;
        text-decoration: none;
        margin:3rem 0 5rem;
        border: 2px solid $primary-color;
    }


    &__title {
     
        font-size: 3rem;
        font-weight: $regular;

    }
    &__desc {
        font-size: 1.8rem;
        font-family:$sans-serif;
        color: rgb(31, 30, 30);
    }

  
    &__image {
        position: relative;
        width:  230px;  
        z-index: 9;
        @media only screen and (min-width: 600px) {
            width:  40%; 
        }
            
        &:before {
            content: '';
            position: absolute;
            top:-.5rem;
            left: -.5rem;
            background: $primary-color;
            width: 20%;
            height: 98%;
            z-index: -1;
        }

        &:after {
            @include shadow-text;
        }

        
    }


    @media only screen and (min-width: $breakpoint-desktop) {
        &__image {
            min-width:  350px;
                width: 500px;
                z-index: 9;
            
        }
    }    

}

.portfolio {
    padding: 5vh 0;

    &__title {
        @include title-section;
        
    }
    &__title:before {
        @include shadow-title;
        content: 'Portfolio';
        writing-mode: horizontal-tb;
        transform: translate(0 , -100%);
    }

    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (min-width: $breakpoint-tablet) {
            flex-direction: row;
            justify-content: space-between;
        } 
    }

    &__link {
        position: relative;
        font-family: $sans-serif;
    
        width:  180px;
        height: 250px;
        margin: 2rem 0;

        span {
     
            position: absolute;
            text-transform: uppercase;
            bottom: -1rem;
            right: -1rem;
            display: block;
            position: absolute;
            background: $dark-color;
            color: #fff;
            padding: 1rem 3rem;
        }

        &:after {
            @include gold-decoration;
        }

    }

    @media only screen and (min-width: $breakpoint-tablet) {
      padding: 10vh 0;
    } 

}

.about .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;


    @media only screen and (min-width: $breakpoint-tablet) {
        flex-direction: row; 
     }
}

.about {
    padding: 5vh 0;
    background: #2c2c2c;

    &__content {
      
        @media only screen and (min-width: $breakpoint-tablet) {
            width:70%;
            padding-right: 4rem; 
         }
         
    }

    &__title,&__desc {
        color: $light-color;
    }

    &__desc {
     @include description
    }

    &__desc:last-child {
        margin-bottom: 6rem;
    }
    
    &__title {
        @include title-section;
        margin-bottom: 3rem;
    }
     
    &__title:before {
        @include shadow-title;
        content: 'O mnie';
        writing-mode: horizontal-tb;
        transform: translate(0 , -100%);
        color: rgba(216, 216, 216, 0.205);  
    }

    &__image {
        position: relative;
        width:  230px;  
        z-index: 9;

        &:before {
            @include gold-decoration;  
        }
        
        @media only screen and (min-width: $breakpoint-tablet) {
            width: 50%;
            min-width:  350px;
                width: 500px;
                z-index: 9;
         }
    }
}

.services .wrapper {
    // display: flex;
    // flex-direction: column;


    // @media only screen and (min-width: $breakpoint-tablet) {
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //   } 
}

.services {
    padding: 5vh 0; 
    background: #eeeeee;

    &__boxs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__box {
        @media only screen and (min-width: $breakpoint-tablet) {
            width: 48%;
          } 
    }



   &__title {
    position: relative;
    @include title-section;
   } 
   &__title:before {
    @include shadow-title;
    content: 'Usługi';
    writing-mode: horizontal-tb;
    transform: translate(0 , -100%);
    }
    &__desc {
        @include description;
       color: #333232;
       background-color: rgb(247, 247, 247);
       padding: 1.5rem 1rem;  
       box-shadow: 1px 1px 2px 3px rgb(223, 223, 223);
    }

    &__heading {
        color:$dark-color;
        font-family: $sans-serif;
        font-weight: $medium;
    }
    
}