@import "../varibles.scss";

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFBFD;
    justify-items: center;
    
    &__content {
        margin-top: 5rem;
     
    }

    &__btn {
        font-family: $sans-serif;
        text-transform: uppercase;
        display: inline-block;
        padding: 1.5rem;
        color: $dark-color;
        text-decoration: none;
        margin:3rem 0 5rem;
        border: 2px solid $primary-color;
    }


    &__title {
     
        font-size: 3rem;
        font-weight: $regular;
    }
    &__desc {
        font-size: 1.8rem;
        font-family:$sans-serif;
        color: rgb(31, 30, 30);
    }

  
    &__image {
        position: relative;
        width:  230px;  
        z-index: 9;
    
        
      

        &:before {
            content: '';
            position: absolute;
            top:-.5rem;
            left: -.5rem;
            background: $primary-color;
            width: 20%;
            height: 98%;
            z-index: -1;
            
        }

        &:after {
            @include shadow-text;
        }


        
    }
    @media only screen and (min-width: $breakpoint-tablet) {
        flex-direction: row;
        justify-content: space-between;
    

        &__content {
            width: 40%;
        }

        &__image {
              min-width:  350px;
            width: 400px;
            z-index: 9;
            &:after {
                font-size: 8rem
            }
        }
 }
 @media only screen and (min-width: $breakpoint-desktop) {

    &__image {
          min-width:  350px;
            width: 500px;
            z-index: 9;
         &:after {
            font-size: 10rem;
        }
    }
}    

}