@import "../varibles.scss";


.contact {
    padding: 5vh 0 1vh; 
    background-color:#2C2C2C;
    color:$light-color;
    font-family: $sans-serif;

 

    &__title:before {
        @include shadow-title;
        content: 'Kontakt';
        writing-mode: horizontal-tb;
        transform: translate(0 , -100%);
        color: rgba(216, 216, 216, 0.205);  
    }


}

.socials {
    text-transform: uppercase;
    

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
      
 
        &--flex {
            display: flex;
       
        }
        
    }
    

    &__item,
    &__link {
        color: #ccc;
    }

    &__item {
        margin: 2rem 0;
        padding: 0;
        font-size: 1.5rem;

        &--mr {
            margin: 0;
        }

    }



    &__icon,
    &__link{
        transition: all .3s;

      
    }

    &__icon {
        display: block;
        height: 35px;
        width: 35px;

        
    }

    &__link {
        
        text-decoration: none;
        border-bottom: 1px solid transparent;
        &:hover {  
            border-bottom: 1px solid $primary-color;
         
        }

    }

    &__icon {
        margin-right: 2rem;

        &:hover {
            opacity: .5;
        }
    }

}

.copyright {
    font-size: 1rem;
    text-align: center;
}