@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@400;500;600&display=swap');
@import '../varibles.scss';
*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html {
    font-size: 62.5%; 

  }
  
  body {
    font-size: 1.6rem;
    font-family: $serif;
  }

  img {
    max-width: 100%;
  }

.strong {
  font-weight: $medium;
}

.wrapper {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;

}

h2 {
  padding-top: 3rem;
}




