@import "../varibles.scss";

/*Burger Menu */

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;

    @media only screen and (min-width: $breakpoint-tablet) {
        display: none;
    } 


  }
  
  .hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  
  @mixin hamburger-line {
    width: 100%;
    height: 3px;
    background-color: $dark-color;
    position: absolute;
  }
  
  .hamburger__inner {
    @include hamburger-line;
    
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
  }
  
  .hamburger__inner::before,
  .hamburger__inner::after {
    @include hamburger-line;
    
    content: '';
    left: 0;
    transition: transform .2s .2s ease-in-out;
  } 
  
  .hamburger__inner::before {
    top: -10px;
  }
  
  .hamburger__inner::after {
    top: 10px;
  }
  
  .hamburger--active .hamburger__inner {
    background-color: transparent;
  }
  
  .hamburger--active .hamburger__inner:before {
    transform: translateY(10px) rotate(45deg);
  }
  
  .hamburger--active .hamburger__inner:after {
    transform: translateY(-10px) rotate(-45deg);
  }




.nav {
  z-index: 99;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
    display: flex;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    background: $light-color;
        @media only screen and (min-width: $breakpoint-tablet) {
        height: 10rem;
    } 
}



.nav--active {
  height: 7rem;
    position: fixed;
    transition: .6s all ease-in;
    background-color: $light-color;
    width: 100%;
    border-bottom: 1px solid $primary-color;

  
}



.nav .wrapper {
    width: 100%;
    position: relative;
 
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    z-index: 10;

    @media only screen and (max-width: $breakpoint-tablet) {
        display: none;
     }
    &__link {
        color: $dark-color;
        font-family: $sans-serif;
        font-weight: $medium;
        text-decoration: none;
        margin-left: 3.5rem;

        &:hover {
            border-bottom:2px solid $primary-color;
        }

        @media only screen and (max-width: $breakpoint-tablet) {
            margin-left: 0;
            
         }
    } 

 
 

    &--active {
     
        @media only screen and (max-width: $breakpoint-tablet) {
         
               display: flex;
               flex-direction: column;
               position: absolute;
               height: 300px;

               margin: 0;
               bottom:0;
               left: 0;
               right: 0;
               background-color: $light-color;
               transform: translateY(100%);
               border-bottom: 1px solid $primary-color;
               border-top: 1px solid $primary-color;
               background-color: $light-color;
        }

       
    }

 

    
}


.logo {
    font-family: $sans-serif;


    &__desc {
     
        font-size: 1rem;
        text-transform: uppercase;
        
    }

    &__link {
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        color: $dark-color;
        display:flex;
        flex-direction: column;
        
    }

    @media only screen and (min-width: $breakpoint-tablet) {
        &__desc {
            font-size: 1.5rem;  
        }
    
        &__link {
            font-size: 2rem; 
        }
         
     }

    
}

.burger {
    z-index: 9;
    @media only screen and (min-width: $breakpoint-tablet) {
        display: none;
    }
}





