@import "../varibles.scss";


.nav {
    display: flex;
    justify-content: space-between;
    height: 7rem;

        @media only screen and (min-width: $breakpoint-tablet) {
        height: 10rem;
    } 
}
.nav--active {
    position: fixed;
    transition: 1s all;
    background-color: $light-color;
    z-index: 99;
    width: 100%;
    border-bottom: 1px solid $primary-color;
  
}

.nav .wrapper {
    width: 100%;
    position: relative;
 
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    z-index: 10;

    @media only screen and (max-width: $breakpoint-tablet) {
        display: none;
     }
    &__link {
        color: $dark-color;
        font-family: $sans-serif;
        font-weight: $medium;
        text-decoration: none;
        margin-left: 3.5rem;

        &:hover {
            border-bottom:2px solid $primary-color;
        }

        @media only screen and (max-width: $breakpoint-tablet) {
            margin-left: 0;
            
         }
    } 

 
 

    &--active {
     
        @media only screen and (max-width: $breakpoint-tablet) {
         
               display: flex;
               flex-direction: column;
               position: absolute;
               height: 300px;

               margin: 0;
               bottom:0;
               left: 0;
               right: 0;
               background-color: $light-color;
               transform: translateY(100%);
               border-bottom: 1px solid $primary-color;
               border-top: 1px solid $primary-color;
               background-color: $light-color;
        }

       
    }

 

    
}


.logo {
    font-family: $sans-serif;


    &__desc {
     
        font-size: 1rem;
        text-transform: uppercase;
        
    }

    &__link {
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        color: $dark-color;
        display:flex;
        flex-direction: column;
        
    }

    @media only screen and (min-width: $breakpoint-tablet) {
        &__desc {
            font-size: 1.5rem;  
        }
    
        &__link {
            font-size: 2rem; 
        }
         
     }

    
}

.burger {
    z-index: 9;
    @media only screen and (min-width: $breakpoint-tablet) {
        display: none;
    }
}





