// font-family: 'Libre Baskerville', serif;
// font-family: 'Montserrat', sans-serif;

//Variables
//colors
$dark-color: #000;
$primary-color:#D5B36F;

//fonts
$sans-serif: 'Montserrat', sans-serif;
$serif: 'Libre Baskerville', serif;
$bold: 600;
$medium:500;
$regular:400;